<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>拼多多·用户中心</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到拼多多!</div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>张迈</em>
            </div>
            <div class="login_btn fl">
                <a href="{% url 'users:user_login' %}">登录</a>
                <span>|</span>
                <a href="{% url 'users:register' %}">注册</a>
                <span>|</span>
                <a href="{% url 'users:set_password' %}">修改密码</a>

            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="{% url 'users:user_center_info' %}">用户中心</a>
                <span>|</span>
                <a href="{% url 'cart:list' %}">我的购物车</a>
                <span>|</span>
                <a href="{% url 'orders:list' %}">我的订单</a>
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="{% url 'users:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>

    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="{% url 'users:user_center_info' %}" >· 个人信息</a></li>
            <li><a href="{% url 'users:watch' %}" class="active">· 最近浏览</a></li>
            <li><a href="{% url 'users:user_alter_info' %}" >· 修改个人信息</a></li>
        </ul>
    </div>


        <h2 class="common_title2">最近浏览</h2>
        <div class="has_view_list">
            <ul class="goods_type_list clearfix">
                <li>
                    <a href="detail.html"><img src="/static/images/goods_clothes.jpg"></a>
                    <h4><a href="detail.html">清新可爱的古风美女衣服</a></h4>
                    <div class="operate">
                        <span class="prize">¥ 138.00</span>
                        <span class="unit">100kg</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="/static/images/goods_clothes01.jpg"></a>
                    <h4><a href="#">萝莉lo娘衣服长裙</a></h4>
                    <div class="operate">
                        <span class="prize">¥ 238.00</span>
                        <span class="unit">买一送一</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="/static/images/goods_clothes03.jpg"></a>
                    <h4><a href="#">刘亦菲同款古风长裙</a></h4>
                    <div class="operate">
                        <span class="prize">￥10.00</span>
                        <span class="unit">10.00/500g</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="/static/images/goods_clothes02.jpg"></a>
                    <h4><a href="#">姐妹装闺蜜装古风</a></h4>
                    <div class="operate">
                        <span class="prize">¥ 568.00</span>
                        <span class="unit">净重200kg</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="/static/images/goods/goods021.jpg"></a>
                    <h4><a href="#">大嘴巴子</a></h4>
                    <div class="operate">
                        <span class="prize">¥ 25.00</span>
                        <span class="unit">6.45/500g</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京拼多多信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888    京ICP备*******8号</p>
</div>

</body>
</html>